.App{
  display: flex;
  flex-direction: column;
  padding: 4%;
}

.header{
  height: 10%
}

.content {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  background: #ececec;
  padding: 2%;
}

.ant-card{
  margin-right: 2%;
  margin-bottom: 2%
}

.floating-btn{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  position: fixed;
  right: 8px;
  top: 500px;
  transition: all 0.2s ease-in 0s; 
  z-index: 9999;
  cursor: pointer;
  background-color: #51E1ED;
  color: white
}

#delete-btn{
  top: 590px;
  background-color: #B4161B;
  color: white
}

#buy-btn{
  top: 680px;
  background-color: #38CC77;
  color: white
}

.floating-btn:hover {
  right: 6px;
}

.add-form{
  display: flex;
  flex-direction: column;
}

.add-form input{
  margin-bottom: 2%;
}